
.checkbox_btn, .msg_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/*--------- for toggle btn -------------*/
[class^="toggle_btn"] {
  height: max-content;
  border-radius: var(--big_size);
  padding: 0 5px;
  border: 1px solid;
  cursor: pointer;
}
[class^="slider"]{
  display: inline-block;
  background: var(--dark_fontcolor);
  transition-duration: 2s;
}
.toggle_content{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.slider-true {
  float: left;
  transform: translateX(-5px);
}
.toggle_btn-false {
  background: var(--main_color1);
  color: var(--dark_fontcolor);
}
.slider-false {
  float: right;
  transform: translateX(5px);
}

/*----------- for checkbox buttons -----------*/
.checked {color: var(--main_color2);}

/*----------- for msg buttons -----------*/
/* hide pop msg at initialization */
.msg_container {
  display: none;
  position: absolute;
  transform: translateY(100%);
  z-index: 1;
}
.msg_btn:hover .msg_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-animation: 2s ease 2s 1 normal forwards running fadeOut;
  -moz-animation: 2s ease 2s 1 normal forwards running fadeOut;
  animation: 2s ease 2s 1 normal forwards running fadeOut;
}
/* make it looks like a dialog */
.msg{
  margin: 0;
  padding: 5px;
  background: var(--main_color1);
  color: var(--dark_fontcolor);
}
.msg_container::before {
  display: inline-block;
	content: "\0020";
  background: var(--main_color1);
  width: 20px;
  height: 10px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
