.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.editor, .editor * {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  line-height: 15px;
  text-align: left;
  word-break: break-all;
  font-family: monospace;
}
.editor {
  position: absolute;
  border: 1px solid #fff;
  background: none;
}
#editor_container, .editor {
  width: 500px;
  height: 100px;
}
#editor_container {
  display: grid;
  grid-template: 1fr/ 1fr;
  margin: auto;
}
#fake_editor {
  color: transparent;
  z-index: -1;
  overflow: hidden;
}
.fake_content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  max-height: 100px;
}
.overflow_content {
  background: red;
}
.checkbox_false::before {
  content: "X ";
}
.checkbox_true::before {
  content: "V ";
}
.setting {
  width: 100%;
  padding: 5px;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  align-items: space-between;
  justify-content: space-evenly;
}
.setting * {
  width: fit-content;
  border: 1px solid red;
}
