:root {
  --main_color1: rgb(46, 101, 182);
  --main_color2: rgb(38, 157, 194);
  --main_color3: rgb(109, 124, 151);
  --danger_color: rgb(241, 131, 103);
  --dark_fontcolor: rgb(247, 247, 237);
  --normal_size: calc(10px + 1vmin);
  --small_size: calc(6px + 1vmin);
  --big_size: calc(15px + 1vmin);
}
@keyframes fadeOut {
  0%{ filter: opacity(0.5); }
  100%{ filter: opacity(0); }
}
@-webkit-keyframes fadeOut {
  0%{ filter: opacity(0.5); }
  100%{ filter: opacity(0); }
}
@-moz-keyframes fadeOut {
  0%{ filter: opacity(0.5); }
  100%{ filter: opacity(0); }
}

:not(small), input, textarea { font-size: var(--normal_size); }
small { font-size: var(--small_size); }

.App, .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.App {
  margin: 0;
  align-items: flex-start;
  min-height: 100vh;
}
.container {
  align-items: center;
  margin: 5px 0;
  gap: 5px;
  flex-grow: 1;
}
#App_header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: inherit;
  border-bottom: 1px solid;
}
#App_header h1 {
  color: var(--dark_fontcolor);
  background: var(--main_color1);
  padding: 5px;
}
.btn {
  cursor: pointer;
  transition-duration: 2s;
  border-radius: 5px;
  padding: 5px;
}
.btn:hover, .primary, .danger {color: var(--dark_fontcolor);}
.primary {background: var(--main_color2);}
.danger {background: var(--danger_color);}
.btn:hover, .primary:hover, .danger:hover { background: var(--main_color3); }
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--big_size);
  height: var(--big_size);
  border-radius: var(--big_size);
  border: 1px solid;
}