:root {
  --main_color1: rgb(46, 101, 182);
  --main_color2: rgba(235, 94, 148, 0.66);
  --seco_color: rgb(247, 247, 237);
  --normal_size: calc(10px + 2vmin);
  --small_size: calc(6px + 2vmin);
  --big_size: calc(15px + 2vmin);
}
@keyframes fadeOut {
  0%{ filter: opacity(0.5); }
  100%{ filter: opacity(0); }
}
@-webkit-keyframes fadeOut {
  0%{ filter: opacity(0.5); }
  100%{ filter: opacity(0); }
}
@-moz-keyframes fadeOut {
  0%{ filter: opacity(0.5); }
  100%{ filter: opacity(0); }
}

:not(small), input, textarea { font-size: var(--normal_size); }
small { font-size: var(--small_size); }

.App, .container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: distribute;
  -ms-flex-line-pack: center;
}
.App { padding: 20px 20vw; }
.container { 
  margin: 5px 0;
  width: 100%;
  gap: 5px;
}
#App_header h1 {
  color: var(--seco_color);
  background: var(--main_color1);
  padding: 5px;
}
#App_header p {
  width: 70%;
  text-align: justify;
}
#setting_container {
  align-items: stretch;
  -ms-flex-line-pack: stretch;
}


.btn {
  cursor: pointer;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}
.btn:hover {
  outline: 1px solid var(--main_color1);
  border: 1px solid var(--seco_color);
}
.btn_primary:hover, .btn_danger:hover { color: var(--seco_color); }
.btn_primary:hover { background: var(--main_color1); }
.btn_danger:hover { background: var(--main_color2); }